<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equal</title>
</head>
<body>
    <h1>Welcome to Equal<!/h1>

    <div class="container">
        <h2>Log In</h2>
        <div class="row">
            <label asp-for="Registration.Email"></label>
            <input asp-for="Registration.Email">
        </div>
        <div class="row">
            <label asp-for="Email"></label>
            <input type="text">

        </div>
    </div>
</body>
</html>